We'll at least start out with the given guys before feature engineering.

In [11]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.feature_selection import RFECV #was hoping for this without the reverse, but I don't see it. Oh well when
#it's just 8; well, it'll be more hectic momentarily...

from sklearn.metrics import mean_squared_log_error #Phew this on is on there

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.svm import SVR

In [4]:
df = pd.read_csv('../data/cleaned_train.csv')
print(df.shape)
df.head()

(90615, 9)

,sex,length,diameter,height,whole_weight,whole_weight1,whole_weight2,shell_weight,rings
0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11
1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11
2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6
3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10
4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9

In [9]:
#I honestly forgot to earlier, although I do like the data is preserved: At least at the moment we also need to dummify sex
#to get our lovely sklearn methods to work:

df = pd.get_dummies(df, columns=['sex'], dtype=int, drop_first=True)
df.head()  #Note that the baseline, ie 0s in the rest, will be indicativ of female abalones.

,length,diameter,height,whole_weight,whole_weight1,whole_weight2,shell_weight,rings,sex_I,sex_M
0,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11,0,0
1,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11,0,0
2,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6,1,0
3,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10,0,1
4,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9,1,0

In [59]:
X = df.drop('rings', axis=1)
y = df['rings']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.85, random_state=26)

ss = StandardScaler() #Temp. removed to have an easier time seeing which feature names were used.
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

Given that this is somewhat of a professional environment, as opposed to my boot camp I just finished, I won't bother to explain all of my thoughts. However, note that I'll reuse this and similar lines of code until finding desired results.

In [52]:
lr = LinearRegression()

rfe = RFECV(lr, step=1, cv=5, 
                       min_features_to_select=3)

model_defaults = rfe.fit(X_train, y_train)
print(model_defaults.score(X_train, y_train), model_defaults.score(X_test, y_test))
print(model_defaults.cv_results_['mean_test_score'])
#sum(model_defaults.cv_results_['mean_test_score'])/len(model_defaults.cv_results_['mean_test_score'])

#Yeah... this is terrible. Well I mean, maybe the data is that hard... but I doubt it.Let's continue without feature enginering
#for now. Unfortunately, removing more features still hovered in the .6ish area

0.6064349934903679 0.600801283422068
[0.58969193 0.59513005 0.59530157 0.59991317 0.60008759 0.60621967
 0.6062019 ]

In [53]:
model_defaults.get_feature_names_out() #Hmm, quite interesting that we chose all the weights.... ie I'd understand if one, but
#apparetly the relative discremencies upon focusing on less and less of the alabone, quite literally, is that useful.

#Also, the distinguishment between female is somehwat negligible, despite hte many difference we obsered... however from
#female to on-binary remains significant.

array(['length', 'diameter', 'height', 'whole_weight', 'whole_weight1',
       'whole_weight2', 'shell_weight', 'sex_I'], dtype=object)

NameError: name 'cross_val_score' is not defined